@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FitLanches</h1>
    <p class="lead">Venha experimentar os melhores lanches da região !!!</p>
    <p><a href="/Cardapio/Index" class="btn btn-primary btn-lg">Ver Cardápio &raquo;</a></p>
</div>