@model IEnumerable<FitLanches.Dominio.Models.Pedido>

@{
    ViewBag.Title = "Pedidos";
}

<h2>Pedidos</h2>

<hr />

<div id="MonitorPedidos">
    @Html.Action("MonitorPedidos", new { pedidos = Model })
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('click', ".btnRetirar", function () {
                //console.log('click')
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("PedidoEntregue", "Pedido")',
                    data: { 'Id': $(this).attr('data-id') },
                    dataType: 'html',
                    async: true,
                    beforeSend: function () {
                    },
                    success: function (response) {
                        //console.log(response);
                        $("#MonitorPedidos").html(response);
                    }
                });
            });
        });

        setInterval(() => GerenciarPedidos(), 1000);

        function GerenciarPedidos() {
            //console.log('disparou')
            $.ajax({
                type: "POST",
                url: '@Url.Action("GerenciarPedidos", "Pedido")',
                data: $("#FormPedido").serialize(),
                dataType: 'html',
                beforeSend: function () {
                },
                success: function (response) {
                    //console.log(response);
                    $("#MonitorPedidos").html(response);
                }
            });
        }
    </script>
}